﻿extends layout

block content
    .container-fluid
        .row
            .col-md-3
            .col-md-6
                h1= title
                p Bienvenido a #{title} 
                br
                button.btn.pmd-ripple-effect.btn-primary.next(type='button', onclick="location.href = '/formularios/pacientes';") Ir a Pacientes
                button.btn.pmd-ripple-effect.btn-primary.next(type='button', onclick="location.href = '/formularios/atenciones';") Ir a Atención