﻿doctype html
html.without-scroll-y
    head
        title= title
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(content='width=device-width, initial-scale=1, user-scalable=no', name='viewport')
        // Google icon
        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700')        
        link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
        // Vuetify CSS
        link(rel='stylesheet', type='text/css', href='/assets/css/vuetify.min.css')
        // Custom CSS Global
        link(rel='stylesheet', type='text/css', href='/assets/css/custom-css-global.css')
        block styles
    body
        #vue-app
            v-app(toolbar='', footer='', style='height: 100%;')
                v-navigation-drawer.pb-0(persistent='', absolute='', enable-resize-watcher='', v-model='drawer', clipped='')
                    v-list(dense='')
                        v-list-tile(v-for='item in itemsNavigation', :key='item.text', @click="", :href='item.href' )
                            v-list-tile-action
                                v-icon {{ item.icon }}
                            v-list-tile-content
                                v-list-tile-title {{ item.text }}                    
                        v-list-tile.mt-3(@click="")
                            v-list-tile-action
                                v-icon.grey--text.text--darken-1 add_circle_outline
                            v-list-tile-title.grey--text.text--darken-1 Cerrar Sesión
                v-toolbar#bus.green
                    v-toolbar-side-icon(@click.stop='drawer = !drawer', dark='')
                    v-toolbar-title.white--text Laboratorio - Departamiento de Bienestar Estudiantil
                main.scroll-y(style='height: calc(100vh - 64px);')
                    v-container
                        v-layout
                            v-flex(xs12='')
                                v-card
                                    block content
                    v-footer.grey.darken-4(style='height: 56px;')
                        v-spacer                    
                        div.white--text
                            | Universidad Laica Eloy Alfaro de Manabí - Unidad Central de Coordinacion Informática &copy; {{ new Date().getFullYear() }}. Todos los Derechos Reservados.
            br
            // Descomentar para ver las variables que maneja Vue.js, también quitar la clase .without-scroll-y de la etiqueta html
            //div
                //pre
                    //| {{ $data | json }}
        script(src='/assets/js/vue.js')
        script(src='/assets/js/vue-resource.min.js')
        script(src='/assets/js/vuetify.js')
        block scripts
        script(src='/javascripts/layout/layout.js')        