﻿extends layout

block styles
    
block content
    v-toolbar.red
        v-toolbar-title.white--text #{title}
        v-spacer
        v-btn(icon='', v-tooltip:bottom="{ html: 'Crear registro' }",  dark='', @click="postAtenciones")
            v-icon save
        v-btn(icon='', v-tooltip:bottom="{ html: 'Limpiar campos' }",  dark='', @click="clearFields")
            v-icon clear
        v-btn(icon='', v-tooltip:bottom="{ html: 'Regresar' }",  dark='', href='/formularios/atenciones')
            v-icon exit_to_app
    v-card.grey.lighten-4.elevation-0
        v-card-text
            v-card-text(ref='form')
                v-container(fluid='', grid-list-md='')
                    v-layout(row='', wrap='')
                        v-flex(xs6='')
                            v-select(label="Paciente", autocomplete="", :async-loading="cargando", clearable="", required="", :items="itemspaciente", :rules="[rules.paciente]", :search-input.sync="buscarpaciente", v-model="paciente", no-data-text="No se han encontrado datos. Intente con otra búsqueda.", item-text="IdentificacionYNombreCompleto", item-value="id")
                        v-flex(xs6='')
                            v-dialog(persistent='', v-model='modalfechaatencion', lazy='', full-width='')
                                v-text-field(slot='activator', label='Fecha de atención', :rules="[rules.fechaatencion]", v-model='fechaatencion', prepend-icon='event', readonly='', required='')
                                v-date-picker(v-model='fechaatencion', scrollable='', :first-day-of-week="1", locale="es-ec")
                                    template(scope='{ save, cancel }')
                                        v-card-actions
                                            v-btn(flat='', primary='', @click.native='cancel()') Cancelar
                                            v-btn(flat='', primary='', @click.native='save()') Listo
                    v-layout(row='', wrap='')
                        v-flex(xs6='')
                            v-select(v-bind:items='tipoAtencionItems', :rules="[rules.tipoatencion]", v-model='tipoatencion', label='Tipo de atención', ref='tipoatencion', item-value='text', required='')
                        v-flex(xs6='')
                            v-text-field(name='medico', label='Médico', :rules="[rules.medico]", v-model='medico', ref='medico', counter='100', required='')                        
                    v-layout(row='', wrap='')
                        v-flex(xs6='')
                            v-text-field(name='diagnostico', label='Diagnóstico', :rules="[rules.diagnostico]", v-model='diagnostico', ref='diagnostico', counter='254', required='')
                        v-flex(xs6='')
                            v-text-field(name='observacion', label='Observación', :rules="[rules.observacion]", v-model='observacion', ref='observacion', counter='254', required='')
                    v-layout(row='', wrap='')
                        v-flex(xs6='')
                            v-select(v-bind:items='tipoConsultaItems', :rules="[rules.tipoconsulta]", v-model='tipoconsulta', label='Tipo de consulta', ref='tipoconsulta', item-value='text', required='')
                        v-flex(xs6='')
                            v-text-field(label='Cantidad', v-model='cantidad', :rules='[rules.cantidad]', ref='cantidad', counter='10', required='')
                    v-layout(row='', wrap='')
                        v-flex(xs6='')
                            small El * indica que el campo es obligatorio.        
    v-snackbar(:timeout='timeout', :success="context === 'success'", :info="context === 'info'", :warning="context === 'warning'", :error="context === 'error'", :primary="context === 'primary'", :secondary="context === 'secondary'", :multi-line="mode === 'multi-line'", :vertical="mode === 'vertical'", v-model='snackbar')
        | {{ mensaje }}
        v-btn(dark='', flat='', @click.native='snackbar = false') Listo
        
block scripts
    script(src='/javascripts/atenciones/NuevoAtencion.js')