﻿extends layout

block styles
    
block content
    v-toolbar.red
        v-toolbar-title.white--text #{title}
        v-spacer
        v-btn(icon='', v-tooltip:bottom="{ html: 'Crear registro' }",  dark='', @click="postPacientes")
            v-icon save
        v-btn(icon='', v-tooltip:bottom="{ html: 'Limpiar campos' }",  dark='', @click="clearFields")
            v-icon clear
        v-btn(icon='', v-tooltip:bottom="{ html: 'Regresar' }",  dark='', href='/formularios/pacientes')
            v-icon exit_to_app
    v-card.grey.lighten-4.elevation-0
        v-card-text
            v-card-text(ref='form')
                v-container(fluid='', grid-list-md='')
                    v-layout(row='', wrap='')
                        v-flex(xs6='')
                            v-text-field(name='identificacion', label='Identificación', :rules="[rules.identificacion]", v-model='identificacion', ref='identificacion', counter='25', required='')
                        v-flex(xs6='')
                            v-text-field(name='nombres', label='Nombres', :rules="[rules.nombres]", v-model='nombres', ref='nombres', counter='25', required='')
                    v-layout(row='', wrap='')
                        v-flex(xs6='')
                            v-text-field(name='apellidos', label='Apellidos', :rules="[rules.apellidos]", v-model='apellidos', ref='apellidos', counter='25', required='')
                        v-flex(xs6='')
                            v-select(v-bind:items='generoItems', :rules="[rules.genero]", v-model='genero', label='Género', ref='genero', item-value='text', required='')
                    v-layout(row='', wrap='')
                        v-flex(xs6='')
                            v-dialog(persistent='', v-model='modalfechanacimiento', lazy='', full-width='')
                                v-text-field(slot='activator', label='Fecha de nacimiento', :rules="[rules.fechanacimiento]", v-model='fechanacimiento', prepend-icon='event', readonly='', required='')
                                v-date-picker(v-model='fechanacimiento', scrollable='', :first-day-of-week="1", locale="es-ec")
                                    template(scope='{ save, cancel }')
                                        v-card-actions
                                            v-btn(flat='', primary='', @click.native='cancel()') Cancelar
                                            v-btn(flat='', primary='', @click.native='save()') Listo
                        v-flex(xs6='')
                            v-select(v-bind:items='grupoSanguineoItems', :rules="[rules.gruposanguineo]", v-model='gruposanguineo', label='Grupo Sanguíneo', ref='gruposanguineo', item-value='text', required='')
                    v-layout(row='', wrap='')
                        v-flex(xs6='')
                            v-text-field(label='E-mail', v-model='email', :rules='[rules.email]', ref='email', counter='100', required='')
                        v-flex(xs6='')
                            v-text-field(name='telefono', label='Teléfono', v-model='telefono', :rules='[rules.telefono]', ref='telefono', counter='10', required='')
                    v-layout(row='', wrap='')
                        v-flex(xs6='')
                            small El * indica que el campo es obligatorio.        
    v-snackbar(:timeout='timeout', :success="context === 'success'", :info="context === 'info'", :warning="context === 'warning'", :error="context === 'error'", :primary="context === 'primary'", :secondary="context === 'secondary'", :multi-line="mode === 'multi-line'", :vertical="mode === 'vertical'", v-model='snackbar')
        | {{ mensaje }}
        v-btn(dark='', flat='', @click.native='snackbar = false') Listo
        
block scripts
    script(src='/javascripts/pacientes/NuevoPaciente.js')