﻿extends layout

block styles

block content
    v-toolbar.red(dark='')
        v-toolbar-title.white--text #{title}
        v-spacer                                            
        v-btn(v-if="mostrarIconoCrear", icon='', href='/formularios/atenciones/nuevo', v-tooltip:bottom="{ html: 'Crear nuevo registro' }")
            v-icon add
        v-btn(v-if="mostrarIconoDetalle", @click='detalleAtencion', icon='', v-tooltip:bottom="{ html: 'Ver registro' }")
            v-icon info
        v-btn(v-if="mostrarIconoEditar", @click='modificarAtencion', icon='', v-tooltip:bottom="{ html: 'Editar registro' }")
            v-icon edit
        v-btn(v-if="mostrarIconoEliminar", @click='', icon='', @click.native.stop="dialogoEliminar = true", v-tooltip:bottom="{ html: 'Eliminar registro(s)' }")
                v-icon delete        
        v-btn(v-if="mostrarIconoActualizar", @click='resetAtenciones', icon='', v-tooltip:bottom="{ html: 'Restablecer/Actualizar' }")
            v-icon autorenew                                            
        v-text-field(v-if="mostrarTextoBuscar", v-model='valorBuscar' transition="slide-x-reverse-transition", label="Escriba su búsqueda" hide-details="", single-line="", dark='', v-on:keyup.enter="makeSearch")
        v-btn(v-if="mostrarIconoBuscar", @click='showSearchInput', icon='', v-tooltip:bottom="{ html: 'Buscar registros' }")
            v-icon search
        v-btn(v-if="mostrarIconoHacerBuscar", @click='makeSearch', icon='', v-tooltip:bottom="{ html: 'Hacer búsqueda' }")
            v-icon check
        v-btn(v-if="mostrarIconoCerrarBuscar", @click='hideSearchInput', icon='', v-tooltip:bottom="{ html: 'Cerrar búsqueda' }")
            v-icon close
    v-card-text
        v-layout(row='', wrap='')
                v-flex(xs4='')
                    v-subheader Número de registros
                v-flex(xs2='')
                    v-select(v-bind:items='selectNumberOfRows', v-model='numberOfRows', item-value="text", label='Seleccione un número', single-line='', persistent-hint='')                
        v-data-table.elevation-1(v-model='selected', v-bind:headers='headers', v-bind:items='items', select-all='', v-bind:pagination.sync='pagination', selected-key='id', hide-actions='')
            template(slot='headers', scope='props')
                tr
                    th
                        v-checkbox(primary='', hide-details='', @click.native='toggleAll', :input-value='props.all', :indeterminate='props.indeterminate')
                    th.text-xs-left(v-for='header in props.headers', :key='header.text', :class="['column sortable', pagination.descending ? 'desc' : 'asc', header.value === pagination.sortBy ? 'active' : '']", @click='changeSort(header.value)')
                        v-icon arrow_upward
                        | {{ header.text }}                                                                
            template(slot='items', scope='props')
                tr(:active='props.selected', @click='props.selected = !props.selected; toggle();')
                    td
                        v-checkbox(primary='', hide-details='', :input-value='props.selected')
                    td {{ props.item.id }}
                    td {{ props.item.FechaAtencion }}
                    td {{ props.item.TipoAtencion }}
                    td {{ props.item.Medico }}
        .text-xs-center.pt-2
            v-pagination(v-model='actualPage', v-bind:length.number="pages", circle='')
    v-snackbar(:timeout='timeout', :success="context === 'success'", :info="context === 'info'", :warning="context === 'warning'", :error="context === 'error'", :primary="context === 'primary'", :secondary="context === 'secondary'", :multi-line="mode === 'multi-line'", :vertical="mode === 'vertical'", v-model='snackbar')
        | {{ mensaje }}
        v-btn(dark='', flat='', @click.native='snackbar = false') Listo
    v-dialog(v-model="dialogoEliminar")
        v-card
            v-card-title.headline Eliminar Atencion(es)
            v-card-text
                | ¿Que está seguro que desea eliminar la(s) atencion(es) seleccionada(s)?.
            v-card-actions
                v-spacer
                v-btn.primary--text.darken-1(flat="flat", @click.native="dialogoEliminar = false") Cancelar
                v-btn.red--text.darken-1(flat="flat", @click="eliminarAtenciones") Eliminar
block scripts
    script(src='/javascripts/atenciones/TablaAtencion.js')