﻿extends layout

block styles

block content
    v-toolbar.red
        v-toolbar-title.white--text #{title}
        v-spacer
        v-btn(icon='', v-tooltip:bottom="{ html: 'Regresar' }",  dark='', href='/formularios/pacientes')
            v-icon exit_to_app
    v-card
        v-card-text
            v-card-text(ref='form')
                v-container(fluid='', grid-list-md='')                   
                    v-layout(row='', wrap='')
                        v-flex(xs6='')
                            v-text-field(name='identificacion', label='Identificación', v-model='identificacion', ref='identificacion', counter='25', readonly)
                        v-flex(xs6='')
                            v-text-field(name='nombres', label='Nombres', v-model='nombres', ref='nombres', counter='25', readonly)
                    v-layout(row='', wrap='')
                        v-flex(xs6='')
                            v-text-field(name='apellidos', label='Apellidos', v-model='apellidos', ref='apellidos', counter='25', readonly)
                        v-flex(xs6='')
                            v-select(v-bind:items='generoItems', v-model='genero', label='Género', ref='genero', item-value='text', readonly)
                    v-layout(row='', wrap='')
                        v-flex(xs6='')
                            v-text-field(slot='activator', label='Fecha de nacimiento', v-model='fechanacimiento', prepend-icon='event', readonly)                                
                        v-flex(xs6='')
                            v-select(v-bind:items='grupoSanguineoItems', v-model='gruposanguineo', label='Grupo Sanguíneo', ref='gruposanguineo', item-value='text', readonly)
                    v-layout(row='', wrap='')
                        v-flex(xs6='')
                            v-text-field(label='E-mail', v-model='email', ref='email', counter='100', readonly)
                        v-flex(xs6='')
                            v-text-field(name='telefono', label='Teléfono', v-model='telefono', ref='telefono', counter='10', readonly)   
    v-snackbar(:timeout='timeout', :success="context === 'success'", :info="context === 'info'", :warning="context === 'warning'", :error="context === 'error'", :primary="context === 'primary'", :secondary="context === 'secondary'", :multi-line="mode === 'multi-line'", :vertical="mode === 'vertical'", v-model='snackbar')
        | {{ mensaje }}
        v-btn(dark='', flat='', @click.native='snackbar = false') Listo
block scripts
    script(src='/javascripts/pacientes/VisualizarPaciente.js')