﻿/*#vue-app, #vue-app .container {
    min-height: 700px;
    overflow: hidden;
    z-index: 0;
}*/

.without-scroll-y {
    overflow-y: hidden
}


#vue-app .input-group__details:after {
    background-color: rgba(255,255,255,0.32) !important;
}

#vue-app .input-group--focused .input-group__append-icon {
    /*color: inherit !important;*/
    color: rgba(255,255,255,0.32) !important;
}